
body{/* to all body */
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

.container1{/* for beggining of the bage */
  padding-top: 30px;
  margin-top: 45px;
}
/* navbar section */
section nav{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 0 10px #7e5702;
  background: #ffffff;
  position: fixed;
  left: 0;
  z-index: 100;
}

.navbar-custom .navbar-nav {
  flex: 1;
  display: flex;
  justify-content: center;
  margin: 0%;
}

section nav .logo img{
  width: 200px;
  cursor: pointer;
  justify-content: left;
}

section nav li a{
  text-decoration: none;
  color: #000000;
}

section nav ul{
  list-style: none;
  font-size: 16px;
  align-items: center;
  padding: 0%;
  margin: 0%;
}

section nav li{
  display: inline-block;
  padding: 0 10px;
  display: flex;
  justify-content: center;
  font-size: larger;
  font-family: serif;
}

section nav li a:hover{
  color: #ca8b02;
}

.dropdown-item:active, .dropdown-item:focus {
    background-color: #ac7807;
}

/* logo */
.main_img img {
  width: 380px;
  max-width: 400px;
  height: auto;
  cursor: pointer;

}

  /* Smooth scrolling */
html {
 scroll-behavior: smooth;
}

/* Basic styling for the section */
.main {
 position: relative;
 padding: 20px;
 margin: 20px 0;
}

/* Highlight effect */
.highlight {
 border: 2px solid #976700;
 border-radius: 20px;
 background-color: #f9f9f9;
 animation: highlight-animation 4s ease-out;
}

@keyframes highlight-animation {
    from {
        border-color: #976700;
    }
    to {
        border-color: transparent;
    }
}
/* desgin the header of the page */
section .main h4{
  font-family: serif;
  font-size: 50px;
  top: 150px;
  left: 120px;
  padding-top: 10px;
  margin-top: 20px;
}

section .main h2{
  font-family: serif;
  font-size: 50px;
  top: 180px;
  left: 220px;
}

section .main h3{
  font-family: serif;
  font-size: 60px;
  top: 180px;
  left: 40px;
  color: #976700;
}

section .main p {
  font-family: serif;
  font-size: 23px;
  padding-top: 20px;
  margin-left: 4vh;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-bottom: 20px;
}

.eee{
  padding-top: 0px;
}

h1 {
  padding-top: 0px;
  font-family: serif;
  font-size: 50px;
  color: #000000;

}
/* cards and books */
.cards-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0px;
  padding-bottom: 0px;
}

.card {
  margin: 3px;
  width: 30rem;
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 15px #7e5702;
}

.card-body {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  text-align: left;
  opacity: 0;
  transition: opacity 0.3s ease;
  font-size: .8em;
  padding: 10px;
  max-height: 200px;

}

@media (max-width: 700px) {
  .card-body {
      font-size: .3em;
      padding: 2px;
      max-height: 120px;
  }
}

.card-title {
  text-align: center;
}
.card:hover .card-body {
  display: block;
  opacity: 1;
}

.card img {
  width: 100%;
  height: auto;
}


.carousel-control-prev,
.carousel-control-next {
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}

.carousel-control-prev-icon,
.carousel-control-next-icon{
  filter: invert(100%);
}

.carousel-indicators .active {
    background-color: black;
    opacity: 1; /* Ensure the active indicator is fully opaque */
}

.sp {
  height: 20px;
}

.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}

/* to search page */
 .tobook{ 
  text-align: center;
  padding-bottom: 40px;
 }
 #search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

@media(max-width: 450px){
  #search-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
}

#search-input {
  padding: 10px;
  width: 300px;
  border: 2px solid #ddd;
  border-radius: 25px;
  outline: none;
  transition: 0.3s;
  font-size: 16px;
}

#search-input:focus {
  border-color: #7e5702;
  box-shadow: 0 0 8px #7e5702(0, 123, 255, 0.3);
}

#search-btn {
  padding: 10px 20px;
  margin-left: 10px;
  background-color: #926f24;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 20px;
  transition: 0.3s;
  font-family: serif;
}

#search-btn:hover {
  background-color: #7e5702;
}

#book-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.book-item {
  border: 1px solid #ddd;
  padding: 10px;
  width: 200px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.book-item:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 15px #7e5702;
}

.book-img img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.book-info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 10px;
  opacity: 0;
  transition: opacity 0.3s, bottom 0.3s;
  z-index: 10;
  transform: translateY(100%);
  font-size: .8em;
  font-family: serif;
  text-align: left;
}

.book-item:hover .book-info {
  transform: scale(1.05);
  box-shadow: 0 10px 15px #7e5702;
  opacity: 1;
  transform: translateY(0);
}

.Not_Found {
  color: red;
  font-weight: bold;
  text-align: center;
}

/* footer */
.container2{
  text-align: center;
  box-shadow: 0 0 10px #7e5702;

}
.footer-col{
   width: 25%;
}
.footer-col h4{
  text-align: left!important;
	font-size: 18px;
	color: #000000;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
  padding-left: 40px;
  font-size: 25px;
  font-family: serif;
  padding-top: 20px;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left: 40px;;
	bottom: -10px;
	background-color: #7e5702;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
  text-align: left!important;
	font-size: 16px;
	text-transform: capitalize;
	color: #000000;
	text-decoration: none;
	font-weight: 300;
	color: #271d1d;
	display: block;
	transition: all 0.3s ease;
  padding-left: 30px;
  font-size: 17px;
}
.footer-col ul li a:hover{
	color: #7e5702;
	padding-left: 8px;
}

.social-links {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  padding-left: 50px;
}

.social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: relative;
  background-color: transparent;
  color: #000;
  line-height: 40px;
  font-size: 20px;
  border-radius: 50%;
  overflow: hidden;
  transition: color 0.3s ease;
  
}

.social-links a::before {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #7e5702;
  transition: bottom 0.8s ease;
  z-index: -1;
}
.social-links a:hover::before {
  bottom: 0;
}

.footer-col .social-links a:hover{
	color: #ffffff;
}
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;

}
}
@media(max-width: 450px){
  .footer-col{
    width: 100%;
    text-align: center!important;
}
}
