.container1{
  padding-top: 50px;
  margin-top: 90px;
}

section nav{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 0 10px #7e5702;
  background: #ffffff;
  position: fixed;
  left: 0;
  z-index: 100;
}

.navbar-custom .navbar-nav {
  flex: 1;
  display: flex;
  justify-content: center;
}

section nav .logo img{
  width: 200px;
  cursor: pointer;
  margin: 0px 0;
}

section nav li a{
  text-decoration: none;
  color: #000000;
}

section nav ul{
  list-style: none;
  font-size: 16px;
  align-items: center;
  padding: 0%;
  margin: 0%;
}

section nav li{
  display: inline-block;
  padding: 0 10px;
  display: flex;
  justify-content: center;
  font-size: larger;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

section nav li a:hover{
  color: #ca8b02;
}
section {
  padding-top: 80px; 
  background-color: white; 
}

.main_img img {
  width: 350px;
  max-width: 400px;
  height: auto;
}

section .main h4{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 50px;
  top: 180px;
  left: 120px;
  padding-top: 30px;
  margin-top: 30px;
}

section .main h2{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 50px;
  top: 180px;
  left: 220px;
}

section .main h3{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 60px;
  top: 180px;
  left: 40px;
  color: #976700;
}

section .main p {
  font-size: 20px;
  padding-top: 20px;
}

h1 {
  padding-top: 150px;
}
.cards-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  margin: 15px;
  width: 30rem;
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 15px #7e5702;
}

.card-body {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  background-color: hsla(0, 0%, 0%, 0.863);
  padding: 10px;
  border-radius: 8px;
  text-align: center;
}

.card:hover .card-body {
  display: block;
}

.card img {
  width: 100%;
  height: auto;
}

body h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 50px;
  top: 10px;
  left: 45%;
  color: #000000;
  text-decoration: underline;
}


.carousel-control-prev,
.carousel-control-next {
  background-color: #e1e1e1;
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}

.carousel-control-prev-icon,
.carousel-control-next-icon{
  filter: invert(100%);
}

.bi-envelope {
margin: 9px;
}
