.container1{
  padding-top: 50px;
  margin-top: 90px;
}

section nav{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 0 10px #7e5702;
  background: #ffffff;
  position: fixed;
  left: 0;
  z-index: 100;
}

.navbar-custom .navbar-nav {
  flex: 1;
  display: flex;
  justify-content: center;
}

section nav .logo img{
  width: 200px;
  cursor: pointer;
  margin: 0px 0;
}

section nav li a{
  text-decoration: none;
  color: #000000;
}

section nav ul{
  list-style: none;
  font-size: 16px;
  align-items: center;
  padding: 0%;
  margin: 0%;
}

section nav li{
  display: inline-block;
  padding: 0 10px;
  display: flex;
  justify-content: center;
  font-size: larger;
  font-family: serif;
}

section nav li a:hover{
  color: #ca8b02;
}

.main_img img {
  width: 380px;
  max-width: 400px;
  height: auto;
  cursor: pointer;

}

section .main h4{
  font-family: serif;
  font-size: 50px;
  top: 150px;
  left: 120px;
  padding-top: 10px;
  margin-top: 20px;
}

section .main h2{
  font-family: serif;
  font-size: 50px;
  top: 180px;
  left: 220px;
}

section .main h3{
  font-family: serif;
  font-size: 60px;
  top: 180px;
  left: 40px;
  color: #976700;
}

section .main p {
  font-family: serif;
  font-size: 23px;
  padding-top: 20px;
  margin-left: 4vh;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-bottom: 20px;
}
.eee{
  padding-top: 0px;
}


h1 {
  padding-top: 0px;
  font-family: serif;
  font-size: 50px;
  color: #000000;

}

.cards-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0px;
  padding-bottom: 0px;
}

.card {
  margin: 5px;
  width: 30rem;
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 15px #7e5702;
}

.card-body {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  text-align: left;
  opacity: 0;
  transition: opacity 0.3s ease;
  font-size: .8em;
  padding: 10px;
  max-height: 200px;
}

@media (max-width: 700px) {
  .card-body {
      font-size: 1em;
      max-height: 120px;
      padding: 2px;
      font-weight: bold;
  }
}

.card-title {
  text-align: center;
}
.card:hover .card-body {
  display: block;
  opacity: 1;
}

.card img {
  width: 100%;
  height: auto;
}

.carousel-control-prev,
.carousel-control-next {
  background-color: #e1e1e1;
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}

.carousel-control-prev-icon,
.carousel-control-next-icon{
  filter: invert(100%);
}

footer {
  box-shadow: 0 0 10px #7e5702;
  background: #ffffff;
  color: #7e5702;
  padding-top: 20px;
}
.sp {
  height: 20px;
}

footer .email {
  font-weight: bold;
  font-size: 15px;
}

footer .email {
  font-weight: bold;
  font-size: 15px;
}
.bi-envelope {
margin: 9px;
}
